{% extends "index.html" %}
{% load static %}
{% load crispy_forms_tags %}

{%block content%}

<div class="container">
    <div  class="col-md-6 col-sm-offset-3">
        <h1>Nuevo Plan de Trabajo</h1>
        <form id="formPlan" action="../../polls/add_plan/" enctype="multipart/form-data" method="post" >
            <input id="nombre" name="nombre" type="text" placeholder="Title" class="form-control input-md" required=""><br>
            <input id="descripcion" name="descripcion" type="text" placeholder="Descripcion" class="form-control input-md" required=""><br>
            <input type="submit" value="Añadir" class="btn btn-primary">
                <a href="/polls/" class="btn btn-primary">Cancelar</a>
        </form>
    </div>
</div>

<script>
    $('form').submit(function (e) {
        var formData = new FormData($("#formPlan")[0]);
        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function () {
                window.location = "/polls/";
            },

        });
        e.preventDefault();
    });
</script>
{% endblock %}
