<head>
    <meta charset="UTF-8">
    <title>SGRED</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
<div  class="col-md-6 col-sm-offset-3">
    <h1>Nuevo Proyecto</h1>
    <form id="formProyecto" action="../../polls/add_Proyecto/" enctype="multipart/form-data" method="post">
        <input id="nombre" name="nombre" type="text" placeholder="Title" class="form-control input-md" required=""><br>
        <input id="descripcion" name="descripcion" type="text" placeholder="Descripcion" class="form-control input-md" required=""><br>
        <input id="fecha_inicio" name="fecha_inicio" type="text" placeholder="Fecha Inicio" class="form-control input-md" required=""><br>
        <input id="fecha_fin" name="fecha_fin" type="text" placeholder="Fecha Fin" class="form-control input-md" required=""><br>
		<select class="form-control input-md" id="duenos2" name="dueno">
            <option selected>Seleccionar Dueño</option>
        </select><br>
        <select class="form-control input-md" id="categoria" name="responsable">
            <option selected>Seleccionar Responsable</option>
        </select><br>
        <input type="submit" value="Añadir" class="btn btn-primary">
            <a href="/polls/" class="btn btn-primary">Cancelar</a>
    </form>
</div>
<script>
    $('form').submit(function (e) {
        var formData = new FormData($("#formProyecto")[0]);
        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function () {
                window.location = "/polls/agregar_Proyecto/";
            },

        });
        e.preventDefault();
    });
</script>
</body>