{% extends "index.html" %}
{% load static %}
{% load crispy_forms_tags %}

{%block content%}
    <!-- Static files -->
    <script type="text/javascript" src="{% static 'js/recursos/detalleActividad.js' %}"></script>

    <h2>Detalle Actividad</h2>
    <div id="form_detalle" >


    </div>
    <button class="btn btn-success" onclick="return add_bitacora()">Añadir bitacora</button>

<script>


function add_bitacora() {
   let url_id = window.location.pathname.split("/")[3];
   window.location.href="./addbitacora/"
}
</script>



{% endblock %}

