{% extends "index.html" %}
{% load static %}
{% load crispy_forms_tags %}

{%block content%}
    <!-- Static files -->
    <link href="{% static 'css/proyectos/detalle.css' %}" rel="stylesheet" />
    <link href="{% static 'css/recursos/list.css' %}" rel="stylesheet" />
    <link href="{% static 'css/recursos/detailRecursoModal.css' %}" rel="stylesheet" />
    <script type="text/javascript" src="{% static 'js/recursos/detailRecursoModal.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/recursos/listRecursoPorTipo.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/proyectos/listProjectRecurso.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/helpers.js' %}"></script>

<div class="container detalle_proyecto">
    <h4>Recursos</h4>
    <div class="container" id="tiposList">
        <div class="row">
            <button class="agregar_recurso ml-auto" onClick="goToUrl('polls/recurso')">Agregar Nuevo Recurso</button>
        </div>
    </div>
    <div id="recurso_modal"></div>
</div>
{% endblock %}
