<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SGRED</title>

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- include libraries(jQuery, bootstrap) -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

    <!-- include summernote css/js -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
</head>
<body>
<div class="container">
    <header id="header">
        <div id="header_bar">
            <h1>sflkjasf</h1>
        </div>
        <section id="menublock">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand d-block d-sm-block d-md-none">SGRED</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Links -->
                    <ul class="navbar-nav mr-auto">

                        <!-- Artefacto Links -->
                        <li class="dropdown nav-item">
                            <a id="artefactosDropdown" data-toggle="dropdown" class="nav-link">Artefactos</a>
                            <ul class="dropdown-menu" aria-labelledby="artefactosDropdown">
                                <li>
                                    <a href="{% url 'agregarArtefacto' %}" class="" id="add_artefacto">Añadir artefacto</a>
                                </li>
                            </ul>
                        </li>

                        <!-- Proyecto Links -->
                        <li class="dropdown">
                            <a id="proyectosDropdown" data-toggle="dropdown" class="nav-link">Proyectos</a>
                            <div class="dropdown-menu" aria-labelledby="proyectosDropdown">
                                <a href="{% url 'agregar_Proyecto' %}" class="dropdown-item">Crear Proyecto</a>
                            </div>
                        </li>

                        <!-- Recurso Links -->
                        <li class="dropdown nav-item">
                            <a id="recursosDropdown" data-toggle="dropdown" class="nav-link">Recursos</a>
                            <ul class="dropdown-menu" aria-labelledby="recursosDropdown">
                                <li>
                                    <a href="{% url 'addRecurso' %}" class="" id="add_recurso">Añadir Recurso</a>
                                </li>
                                <li>
                                    <a class="" href="{% url 'listRecurso' %}">Listar recursos</a>
                                </li>
                            </ul>
                        </li>

                        <!-- Actividades Links -->
                        <li class="dropdown nav-item">
                            <a id="actividadesDropdown" data-toggle="dropdown" class="nav-link">Actividades</a>
                            <ul class="dropdown-menu" aria-labelledby="actividadesDropdown">
                                <li>
                                    <a class="" href="{% url 'listar_actividades' %}" id="listar_actividades">Listar Actividades</a>
                                </li>
                                <li>
                                    <a class="" href="{% url 'agregar_Actividad' %}">Agregar Actividad</a>
                                </li>
                            </ul>
                        </li>

                        <!-- Plan de trabajo Links -->
                        <li class="dropdown nav-item">
                            <a id="planesDropdown" data-toggle="dropdown" class="nav-link">Planes</a>
                            <ul class="dropdown-menu" aria-labelledby="planesDropdown">
                                <li>
                                    <a class="" href="{% url 'agregar_Plan' %}">Agrear Plan de Trabajo</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <!-- Login Links -->
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                        <li>
                            <a id="userlogged" href="#" id="dropdownMenu1" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span>
                                {{ user.username }}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li>
                                    <a id="logOut" href="{% url 'logout' %}">
                                        <span class="glyphicon glyphicon-log-out"></span>
                                        Cerrar sesión
                                    </a>
                                </li>
                            </ul>
                        </li>
                        {% else %}
                        <li>
                            <a id="logIn" href="{% url 'login' %}">
                                <span class="glyphicon glyphicon-log-in"></span>
                                Iniciar sesion
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </section>

    </header>
    {% block content %}{% endblock content %}
</div>

</body>
</html>