<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SGRED</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- include libraries(jQuery, bootstrap) -->
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

<!-- include summernote css/js -->
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
</head>
<body>
<!--<h1 align="center">SISTEMA DE GESTION DE RECURSOS EDUCATIVOS DIGITALES</h1>-->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">SGRED</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="{% url 'agregar_Proyecto' %}" class="nav-link">Crear Proyecto</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'addRecurso' %}" class="nav-link" id="add_recurso">Añadir Recurso</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'agregarArtefacto' %}" class="nav-link" id="add_artefacto">Añadir artefacto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'listRecurso' %}">Listar recursos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'agregar_Plan' %}">Agrear Plan de Trabajo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'agregar_Actividad' %}">Agregar Actividad</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'listar_actividades' %}">Listar Actividades</a>
        </li>
    </ul>
</nav>
 {% block content %}{% endblock content %}
</body>
</html>
