{% extends "index.html" %}
{% load static %}
{% load crispy_forms_tags %}

{%block content%}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    google.charts.load('current', {'packages':['gantt']});
    google.charts.setOnLoadCallback(drawChart);

     function detalleexample(key) {
         window.location.href='./'+key+'/'
    }

    function drawChart() {
        $.getJSON("../lista_actividades").done(function (actividad) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Task ID');
            data.addColumn('string', 'Task Name');
            data.addColumn('string', 'Resource');
            data.addColumn('date', 'Start Date');
            data.addColumn('date', 'End Date');
            data.addColumn('number', 'Duration');
            data.addColumn('number', 'Percent Complete');
            data.addColumn('string', 'Dependencies');

            if(actividad.toString()==="")
            {
                $("#chart_div").prepend('<div class="alert alert-info">' +
                    ' No existen creadas actividades' + '</div>');
            }
            $.each(actividad, function (i, item) {
                alert(item.pk);
                if(item.fields.nombre==="" || item.fields.nombre===undefined) {
                    $("#chart_div").prepend('<p>' +
                        'No hay Actividades' + '</p>');
                }
                else {

                    data.addRow(
                        [item.fields.nombre, item.fields.nombre, item.fields.descripcion,
                            new Date(item.fields.fecha_inicio), new Date(item.fields.fecha_fin), null,
                            item.fields.finalizado==0?0:100, null]
                    );
                    var options = {
                        height: 400,
                        gantt: {
                            trackHeight: 30
                        }
                    };

                    var chart = new google.visualization.Gantt(document.getElementById('chart_div'));

                    chart.draw(data, options);
                    $("#list_div").prepend('<button onclick="return detalleexample('+ item.pk +')" class="btn btn-success">' +
                        item.fields.nombre + '</button>');


                }

            });
        });

    }

</script>
    <h1>Listar Actividades</h1>
    <div id="chart_div"></div>
    <div id="list_div"></div>




{% endblock %}
