{% extends "index.html" %}
{% load static %}
{% load crispy_forms_tags %}

{%block content%}
<div class="container">
<div  class="col-md-6 col-sm-offset-3">
    <h1>Nuevo Artefacto</h1>
    <form id="formArtefacto" action="../../polls/addArtefacto/" enctype="multipart/form-data" method="post">
        <input id="nombre_mostrar" name="nombre_mostrar" type="text" placeholder="Title" class="form-control input-md" required=""><br>
        <input id="descripcion" name="descripcion" type="text" placeholder="Descripcion" class="form-control input-md" required=""><br>
        <select class="form-control input-md" id="tipo_artefacto" name="tipo_artefacto">
                <option selected>Seleccionar Tipo de Artefacto</option>
        </select><br>
        <select class="form-control input-md" id="recurso" name="recurso">
                <option selected>Seleccionar Recurso</option>
        </select><br>
        <input id="archivo" name="archivo" type="file" required><br>
        <input id="reusable" type="checkbox" name="reusable" > reusable<br>
        <h5><b>Etiquetas: </b></h5>
            <select class="js-tags col-md-12 col-sm-offset-3" id="id_etiquetas" multiple="multiple" name="etiquetas">
              <option selected="selected">imagen</option>
              <option>infrografia</option>
              <option selected="selected">video</option>
            </select>
        <br/><br/>

        <input id="grabar" type="submit" value="Añadir" class="btn btn-primary">

            <a href="/polls/" class="btn btn-primary">Cancelar</a>
    </form>
</div>
</div>
<script>
    $('form').submit(function (e) {
        var formData = new FormData($("#formArtefacto")[0]);
        var etiquetas = $('#id_etiquetas').select2('data');
        tag = etiquetas.map((x)=>x.text);

        formData.append('etiquetas', tag);
        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function () {
                window.location = "/polls/";
            },

        });
        e.preventDefault();
    });
</script>

  <script>
		(function(){
			$.getJSON("/polls/lista_recursos").done(function (data) {
				$.each(data, function (i, item) {
					$("#recurso").prepend('<option value="'+item.fields.titulo+'">'+
						item.fields.titulo.toUpperCase() + '</option>');

				});
			});

		})();
  </script>
    <script>
		(function(){
			$.getJSON("/polls/tipo_artefacto").done(function (data) {
				$.each(data, function (i, item) {
					$("#tipo_artefacto").prepend('<option value="'+item.fields.nombre+'">'+
						item.fields.nombre.toUpperCase() + '</option>');

				});
			});

		})();
  </script>

    <script>
        $(document).ready(function() {

            $('select').select2({
              createTag: function (params) {
                var term = $.trim(params.term);

                if (term === '') {
                  return null;
                }

                return {
                  id: term,
                  text: term,
                  newTag: true // add additional parameters
                }
              }
            });

            $(".js-tags").select2({
              tags: true
            });
        });
    </script>
{% endblock %}
