{% extends "index.html" %}
{% load static %}
{% load crispy_forms_tags %}

{%block content%}
<script>
    (function(){
        $.getJSON("/polls/dueno").done(function (data) {
            $.each(data, function (i, item) {
                $("#dueno").prepend('<option value="'+item.fields.nombre+'">'+
                    item.fields.nombre.toUpperCase() + '</option>');

            });
        });

    })();
</script>
<script>
    (function(){
        $.getJSON("/polls/responsable").done(function (data) {
            $.each(data, function (i, item) {
                $("#responsable").prepend('<option value="'+item.fields.name+'">'+
                    item.fields.name.toUpperCase() + '</option>');

            });
        });

    })();
</script>


<script>
    function enviarForm() {

        if ($('#dueno').val() === 'Seleccionar Dueño') {
            return false;
        }
        if ($('#responsable').val() === 'Seleccionar Responsable') {
            return false;
        }

        // Aca lo cargo
        $.ajax({
            type: "POST",
            url: "/polls/add_proyecto/",
            data: JSON.stringify({
                nombrep: $('#nombrep').val(),
                descripcion: $('#descripcion').val(),
                fecha_inicio: $('#fecha_inicio').val(),
                fecha_fin: $('#fecha_fin').val(),
                dueno: $('#dueno').val(),
                responsable: $('#responsable').val(),
            }),
            contentType: "application/json; charset=UTF-8",
            dataType: "json",
            success: function (data) {
                // Aca lo agrego nuevamente
                window.location = "/polls/index"
            },
            failure: function (errMsg) {
                alert("Hubo un error.")

            }
        });

        return false;
    }
</script>
<div class="container">
    <div  class="col-md-6 col-sm-offset-3">
        <div id="alert" name="alert">
        </div>
        <h1>Nuevo Proyecto</h1>
        <form id="formProyecto" action="../../polls/add_proyecto/" enctype="multipart/form-data" method="post" >
            <input id="nombre" name="nombre" type="text" placeholder="Title" class="form-control input-md" required=""><br>
            <input id="descripcion" name="descripcion" type="text" placeholder="Descripcion" class="form-control input-md" required=""><br>
            <input id="fecha_inicio" name="fecha_inicio" type="date" placeholder="Fecha Inicio" class="form-control input-md" required=""><br>
            <input id="fecha_fin" name="fecha_fin" type="date" placeholder="Fecha Fin" class="form-control input-md" required=""><br>
            <select class="form-control input-md" id="dueno" name="dueno">
                <option selected>Seleccionar Dueño</option>
            </select><br>
            <select class="form-control input-md" id="responsable" name="responsable">
                <option selected>Seleccionar Responsable</option>
            </select><br>
            <input type="submit" value="Añadir" class="btn btn-primary">
            <a href="/polls/" class="btn btn-primary">Cancelar</a>
        </form>
    </div>
</div>

<script>
    $('form').submit(function (e) {
        var formData = new FormData($("#formProyecto")[0]);
        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function () {
                $("#alert").prepend('<div class="alert alert-success alert-dismissible"  role="alert">' +
                    'Proyecto Creado con Éxito. ' +
                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\n' +
                    '    <span aria-hidden="true">&times;</span>\n' +
                    '  </button></div>');
                    document.getElementById("formProyecto").reset();
            },
            failure: function () {
            $("#alert").prepend('<div class="alert alert-danger" role="alert">' +
                    'Proyecto Creado con Error. </div>');
            },

        });
        e.preventDefault();
    });
</script>
{% endblock %}
