div {
    word-wrap: break-word;
}

.col-md-3 {
    margin-bottom: 30px;
}

.artefacto_card {
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #e7e7e7;
    height: 300px;
}

.artefacto_card_selectable {
    cursor: pointer;
}

.artefacto_card_selectable:hover {
    background-color: #e7e7e7;
}

.card_title {
    font-weight: bold;
    font-size: 16px;
}

.card_description {
    margin-top: 10px;
    font-size: lightgray;
}

.card_subtitle {
    margin-top: 10px;
}

.card_subtitle_label {
    font-weight: bold;
}

.card_subtitle_ans {
}
