.container {
    background-color: white;
}

.agregar_artefacto {
    border: 2px solid #343a40;
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    font-weight: 600;
}

.agregar_artefacto:hover {
    background-color: lightgrey;
}