{% extends "index.html" %}
{% load static %}
{% load crispy_forms_tags %}

{%block content%}


<head>
       <script type="text/javascript" src="{% static 'js/recursos/addRecurso.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/taggle.js' %}"></script>

    <script>
        (function(){
			$.getJSON("/polls/id_tpplan").done(function (data) {
				$.each(data, function (i, item) {
					$("#id_tpplan").prepend('<option value="'+item.fields.nombre+'">'+
						item.fields.nombre.toUpperCase() + '</option>');

				});
			});
		})();
    </script>

    <script>
        $(document).ready(function() {

            $('select').select2({
              createTag: function (params) {
                var term = $.trim(params.term);

                if (term === '') {
                  return null;
                }

                return {
                  id: term,
                  text: term,
                  newTag: true // add additional parameters
                }
              }
            });

            $(".js-tags").select2({
              tags: true
            });
        });
    </script>

</head>



<div class="container">
    <div  class="col-md-6 col-sm-offset-3">
        <h1>Nuevo Recurso</h1>
        <form method="POST" class="form-group" id="formRecurso" action="../../polls/addRecurso/"/>
            {% csrf_token %}
            {{ form|crispy }}

            <h5><b>Seleccionar Template*</b></h5>
            <select class="form-control input-md" id="id_tpplan" name="id_tpplan">
                <option selected>Seleccionar Template Plan</option>
            </select><br>

         <h5><b>Etiquetas: </b></h5>
            <select class="js-tags col-md-12 col-sm-offset-3" id="id_etiquetas" multiple="multiple" >
              <option selected="selected">imagen</option>
              <option>infrografia</option>
              <option selected="selected">video</option>
            </select>
        <br/><br/>

            <button type="submit" class="btn btn-primary" id="id_grabar">Crear</button>
            <a id="cancelar" href="/">Cancelar</a>
        </form>

    </div>
</div>

{% endblock %}

